<div id="app">
  <h1>Add a person:</h1>
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <div>
    Name: <input type="text" v-model="newPersonName">
    Bio: <input type="text" v-model="newPersonBio">
    <button v-on:click="addPerson()">Add Person</button>
  </div>
  <h4>Total number of people: {{ people.length }}</h4>
  <div>
    Search by name: <input type="text" v-model="nameFilter">
  </div>
  <div>
    Search by bio: <input type="text" v-model="bioFilter">
  </div>

  <table border=1 width="100%">
    <tr>
      <th v-on:click="setSortAttribute('name')">Name</th>
      <th v-on:click="setSortAttribute('bio')">Bio</th>
    </tr>
    <tr v-for="person in filteredPeople">
      <td>{{ person.name }}</td>
      <td>{{ person.bio }}</td>
    </tr>
  </table>

  <div>
    <button v-on:click="setSortAttribute('name')">Order by name</button>
    <button v-on:click="setSortAttribute('bio')">Order by bio</button>
  </div>
  <div v-for="person in filteredPeople">
    <h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
    <p v-bind:class="{strike: person.bioVisible}">{{ person.bio }}</p>
    <button v-on:click="deletePerson(person)">Delete</button>
  </div>
</div>
